
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&family=Raleway:wght@100;300&display=swap');

html{
   font-size: 62.5%;
}

body{
   background-color: #f5f5f5;
   font-family: 'Raleway', sans-serif;
}

.main-container{
   display: block;
   width: 100%;
   margin: 0 auto;
}

.container{
   display: block;
   float: left;
   padding: 20px;
   width: 100%;
   margin: 0 auto;
   padding-right: 0;
}

.article{
   width: 95%;
}

header{ 
    background: #fff;
    display: block;
    width: 100%;
    padding: 20px 0px;
    float: left;
    border-bottom: 1px solid #254159;
}

h1{
   font-size: 2.4rem;
   color: #254159;
   margin-bottom: 20px;
}

h2{
   font-size: 2rem;
   color: #254159;
   margin-bottom: 20px;
}

h3{
   font-size: 1.8rem;
   color: #254159;
   margin-bottom: 20px;
   padding-top: 10px;
}

h4{
    font-size: 1.5rem;
    color: #254159;
    margin-bottom: 10px;
    padding-top: 10px;
}

p{
    margin-bottom: 10px;
    line-height: 1.4rem;
    color: #333;
}

ol{
    margin-left: 30px;
}

ol li{
    font-size: 1.4rem;
    color: #454545;
    margin-bottom: 1.4rem;
}

section{
    background-color: #fff;
    display: block;
    width: 100%;
    padding: 20px 0px;
    float: left;
    font-size: 1.5rem;
}

section nav{
   display: block;
   float: left;
   width: 30%;
}

nav li{
    background-color: #efefef;
    margin: 1px 20px 1px 0;
    padding: 10px;
}

nav li:hover{
   background-color: #dfdfdf;
}

nav a{
   text-decoration: none;
   color: #254159;
}

nav a:hover{
   color: #385874;
}

section article{
   display: block;
   float: left;
   width: 70%;
}
img{
   max-width: 100%;
   height: auto;
}

#tenho-interesse{
   background-color: #739fc5;
   width: 100%;
}
#tenho-interesse form, .cog-form__container, .cog-form__content{
   background-color: #739fc5 !important;
}
footer{
   background-color: #254159;
   display: block;
   color: #ffffff;
   float: left;
   width: 100%;
   padding: 20px 0px;
}

footer p{
    color: #ffffff;
    font-size: 1.4rem;
}

@media (max-width: 600px) {
  section nav, section article {
      width: 100%;
   }
 }

 #banner {
   background-image: url(../imges/banner.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   width: 100%;
   height: 80vh;
}

.legenda-container {
   width: 30vw;
   float: right;
   margin: 10vh 10vh 0 0;
}

.legenda {
   background-color: rgba(255, 255, 255, .6);
   padding: 20px;
   border-radius: 5px;
   margin-bottom: 2rem;
   
}

.legenda h5,
.legenda h4 {
   color: #254159;
   line-height: 150%;
}

.button-cta {
   background-color: orangered;
   color: #fff;
   font-size: 1.8rem;
   text-transform: uppercase;
   box-shadow: 1px 1px 4px rgb(100, 98, 98);
   padding: 10px 15px;
   width: auto;
   text-decoration: none;
   font-weight: 300;
   display: inline;
   border-radius: 25px;
   float: right;
}

#saiba-mais {
   background-color: #eaeff3;

}

#saiba-mais p,
#saiba-mais img {
   width: 45%;
   float: left;
   padding: 20px;
}

dl {
   margin: 20px;
   
}

dt {
   font-weight: 700;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 1.5rem;
}

dd {
   margin-left: 20px;
   margin-bottom: 20px;
   font-size: 1.3rem;
}

.button-cta2,
.button-cta3 {
  background-color: orangered;
  color: #fff;
  font-size: 1.8rem;
  text-transform: uppercase;
  box-shadow: 1px 1px 4px rgb(100, 98, 98);
  padding: 10px 15px;
  width: auto;
  text-decoration: none;
  font-weight: 300;
  display: inline;
  border-radius: 25px;
   float: left;
}

@media (max-width: 840px) {
  #saiba-mais img, #saiba-mais p {
     width: 100%;
  }
 }

@media (max-width: 450px) {
  .legenda-container h4, .legenda-container h5, .button-cta {
      font-size: .8rem;  
   }
   #saiba-mais h1 {
     font-size: 1.5rem;
     text-align: center;
   }
   #saiba-mais img, #saiba-mais p {
      width: 100%;
   }
 }
